@font-face{
    font-family : "GosmickSansBold"; 
    src : url("font/GosmickSansBold.ttf");
}
body {
    font-family: GosmickSansBold, sherif, monospace;
    background: url("imagefond/fondmarbre.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#title {
    background: url("imagefond/fond7.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-weight: bold;
    text-shadow: 6px 6px 10px black;
    color: #ffffff;
    min-height: 200px;
    text-align: right;
    }

.compétence {
    text-decoration: overline;
}

.année {
    font-size: 1.8em;
}

.diplome,
.poste {
    font-size: 2em;
    font-weight: bold;
}

.nomdiplome,
.entreprise {
    font-size: 1.3em;
}

.ecole {
    font-style: italic;
}

.ville {
    font-weight: bold;
}

h2 {
    font-weight: bold;
    background-color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #000000 ;
    border-radius: 5px; 
    text-shadow:
    #ffffff 1px 1px,
    #ffffff -1px 1px,
    #ffffff -1px -1px,
    #ffffff 1px -1px; 
}
.bg-dark {
    background: url("fondmarbre.jpg") !important;
}
.card {
    background-color: #ffffff;
}
.card:hover {
    border: 5px solid #ffff40 !important;
}
img {
    max-width: 80px;
}
.ordi {
    min-height: 400px;
}
.attestation {
    color: white;
    text-decoration: underline;
}
.attestation:hover {
    color: #ddd;
}
.right {
    margin-right: 10px;
}
.left {
    margin-left: 10px;
}

.row2 {
    width: 100%;
    text-align: center;
}

#perso,
#contact,
#pro,
#formations {
    margin-top: -40px;
}
.buttonColor{
    background-color: #150527; 
}
.barColor{
    background-color: #150527 !important; 
}
.margePage{
    margin-bottom: 75px
}
#job{
    font-size : 2em; 
}